<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>UserAccessFilter</filter-name>
        <filter-class>com.tdt.client.UserAccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ClientFilter</filter-name>
        <filter-class>com.tdt.demo.filter.CASFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ClientFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>